<h1>Hi! I'm <span class="glcolor">Developer</span></h1>
<p> I like to developing new websites, share my thoughts in 140 characters or less, pretend to be a developer, keep up with my friends, play dota, and laugh at funny stuffs.Why dont you say hi?
</p>
<p>Also see <a href="pages/portfolio.html">my projects</a> for further information about my works.</p>