<h1>Contacts</h1>
<p>Please do not hesitate to contact me</p>
<div class="section contacts">
    <div class="section w80">
        <div class="input-icon mright">
            <i class="icon-envelope"></i>
            <input type="text" name="email" placeholder="YOUR E-MAIL" class="mail">
        </div>
        <div class="input-icon mleft">
            <i class="icon-user"></i>
            <input type="text" name="name" placeholder="YOUR NAME" class="name">
        </div>
        <textarea name="message" class="message" placeholder="YOUR MESSAGE"></textarea>
    </div>
    <div class="section w80">
        <button name="submit">SEND</button>
        <div class="fright">
            <a class="social minibutton" href="http://github.com/omidgharib">
                <i class="icon-github"></i>
            </a>
            <a class="social minibutton" href="http://www.linkedin.com/pub/omid-gharib/37/119/a41">
                <i class="icon-linkedin"></i>
            </a>
            <a class="social minibutton" href="http://www.facebook.com/people/@/omidgharib">
                <i class="icon-facebook"></i>
            </a>
            <a class="social minibutton" href="https://plus.google.com/107818602308796119214">
                <i class="icon-google-plus"></i>
            </a>
        </div>
    </div>
</div>