<h1>Portfolio</h1>
	<div class="portfolio section">
		<a class="navigation nleft minibutton"><i class="icon-angle-left"></i></a>

			<div class="all-items">
			    <div class="group x2">

<!-- ========  Copy this block for add new portfolio item: ======== -->
                    <!--Start block-->
                    <div class="item" >
                       <div class="overlay">
                           <div class="buttonstack">

                               <!--Link to item page-->
                               <a class="minibutton innerlink" href="pages/projects/insooansoo/item.html">
                                   <i class="icon-eye-open"></i>
                               </a>

                               <!-- External project link -->
                               <a class="minibutton" href="http://insooansoo.com" target="_blank">
                                   <i class="icon-link"></i>
                               </a>
                           </div>
                       </div>

                        <!--Thumbnail image-->
                       <img src="pages/projects/insooansoo/page.png">
                   </div>
                    <!--End block-->

                    <div class="item">
                        <div class="overlay">
                            <div class="buttonstack">
                                <a class="minibutton innerlink" href="pages/portfolio-items/2/item.html">
                                    <i class="icon-eye-open"></i>
                                </a>
                                <a class="minibutton" href="http://graphicriver.net/item/freehand-hand-drawn-effects/2691873?ref=Iltaen">
                                    <i class="icon-link"></i>
                                </a>
                            </div>
                        </div>
                        <img src="pages/portfolio-items/2/thumb.png">
                    </div>

                    <div class="item">
                        <div class="overlay">
                            <div class="buttonstack">
                                <a class="minibutton innerlink" href="pages/portfolio-items/3/item.html">
                                    <i class="icon-eye-open"></i>
                                </a>
                                <a class="minibutton" href="http://graphicriver.net/item/shadowgen3-ps-filter/3296775?ref=Iltaen">
                                    <i class="icon-link"></i>
                                </a>
                            </div>
                        </div>
                        <img src="pages/portfolio-items/3/thumb.png">
                    </div>

                    <div class="item">
                        <div class="overlay">
                            <div class="buttonstack">
                                <a class="minibutton innerlink" href="pages/portfolio-items/4/item.html">
                                    <i class="icon-eye-open"></i>
                                </a>
                                <a class="minibutton" href="http://themeforest.net/item/pandora-box-mobile-develop-onepage-html-template/5238532?ref=iltaen">
                                    <i class="icon-link"></i>
                                </a>
                            </div>
                        </div>
                        <img src="pages/portfolio-items/4/thumb.png">
                    </div>
                </div>

                <div class="group x3">
                    <div class="item">
                        <div class="overlay">
                            <div class="buttonstack">
                                <a class="minibutton innerlink" href="pages/portfolio-items/work-one/item.html">
                                    <i class="icon-eye-open"></i>
                                </a>
                                <a class="minibutton" href="#">
                                    <i class="icon-link"></i>
                                </a>
                            </div>
                        </div>
                        <img src="pages/portfolio-items/work-one/thumb.png">
                    </div>

                    <div class="item">
                        <div class="overlay">
                            <div class="buttonstack">
                                <a class="minibutton innerlink" href="pages/portfolio-items/work-one/item.html">
                                    <i class="icon-eye-open"></i>
                                </a>
                                <a class="minibutton" href="#">
                                    <i class="icon-link"></i>
                                </a>
                            </div>
                        </div>
                        <img src="pages/portfolio-items/work-one/thumb.png">
                    </div>

                    <div class="item">
                        <div class="overlay">
                            <div class="buttonstack">
                                <a class="minibutton innerlink" href="pages/portfolio-items/work-one/item.html">
                                    <i class="icon-eye-open"></i>
                                </a>
                                <a class="minibutton" href="#">
                                    <i class="icon-link"></i>
                                </a>
                            </div>
                        </div>
                        <img src="pages/portfolio-items/work-one/thumb.png">
                    </div>

                    <div class="item">
                        <div class="overlay">
                            <div class="buttonstack">
                                <a class="minibutton innerlink" href="pages/portfolio-items/work-one/item.html">
                                    <i class="icon-eye-open"></i>
                                </a>
                                <a class="minibutton" href="#">
                                    <i class="icon-link"></i>
                                </a>
                            </div>
                        </div>
                        <img src="pages/portfolio-items/work-one/thumb.png">
                    </div>

                    <div class="item">
                        <div class="overlay">
                            <div class="buttonstack">
                                <a class="minibutton innerlink" href="pages/portfolio-items/work-one/item.html">
                                    <i class="icon-eye-open"></i>
                                </a>
                                <a class="minibutton" href="#">
                                    <i class="icon-link"></i>
                                </a>
                            </div>
                        </div>
                        <img src="pages/portfolio-items/work-one/thumb.png">
                    </div>

                    <div class="item">
                        <div class="overlay">
                            <div class="buttonstack">
                                <a class="minibutton innerlink" href="pages/portfolio-items/work-one/item.html">
                                    <i class="icon-eye-open"></i>
                                </a>
                                <a class="minibutton" href="#">
                                    <i class="icon-link"></i>
                                </a>
                            </div>
                        </div>
                        <img src="pages/portfolio-items/work-one/thumb.png">
                    </div>

                </div>
			</div>

        <a class="navigation nright minibutton"><i class="icon-angle-right"></i></a>
	</div>
<div class="section">
    <p> Also see my works on the
        <a href="http://themeforest.net/user/Iltaen?ref=iltaen">Themeforest Marketplace</a>
    </p>
</div>