<h1>Skills</h1>
<p>I make modern minimalistic creative themes for WordPress.
    Please appreciate my works themselves on the
    <a href="#">Themeforest Marketplace</a>
</p>
<div class="section skills">
    <!-- <div class="skill">
        <div class="title">Web design</div>
        <div class="bar">
			<div class="bar-container">

======== Edit "width" style for change progress bar ========
            	<div class="progress" style="width: 85%"></div>
			</div>
        </div>
    </div>
 -->

<!--     <div class="skill">
        <div class="title">UI design</div>
        <div class="bar">
			<div class="bar-container">
            	<div class="progress" style="width: 75%"></div>
			</div>
        </div>
    </div> -->

    <div class="skill">
        <div class="title">Front-End Developing</div>
        <div class="bar">
            <div class="bar-container">
                <div class="progress" style="width: 90%"></div>
            </div>
        </div>
    </div>

    <div class="skill">
        <div class="title">HTML5/CSS3</div>
        <div class="bar">
			<div class="bar-container">
            	<div class="progress" style="width: 95%"></div>
			</div>
        </div>
    </div>

    <div class="skill">
        <div class="title">javascript/jQuery</div>
        <div class="bar">
			<div class="bar-container">
            	<div class="progress" style="width: 90%"></div>
			</div>
        </div>
    </div>

    <div class="skill">
        <div class="title">Google API</div>
        <div class="bar">
            <div class="bar-container">
                <div class="progress" style="width: 90%"></div>
            </div>
        </div>
    </div>

    <div class="skill">
        <div class="title">Ajax</div>
        <div class="bar">
            <div class="bar-container">
                <div class="progress" style="width: 85%"></div>
            </div>
        </div>
    </div>

    <div class="skill">
        <div class="title">PHP</div>
        <div class="bar">
            <div class="bar-container">

<!-- ======== Edit "width" style for change progress bar ======== -->
                <div class="progress" style="width: 40%"></div>
            </div>
        </div>
    </div>

    <div class="skill">
        <div class="title">SQL</div>
        <div class="bar">
            <div class="bar-container">

<!-- ======== Edit "width" style for change progress bar ======== -->
                <div class="progress" style="width: 75%"></div>
            </div>
        </div>
    </div>

    <div class="skill">
        <div class="title">WordPress</div>
        <div class="bar">
            <div class="bar-container">

<!-- ======== Edit "width" style for change progress bar ======== -->
                <div class="progress" style="width: 35%"></div>
            </div>
        </div>
    </div>

    <div class="skill">
        <div class="title">SEO</div>
        <div class="bar">
            <div class="bar-container">

<!-- ======== Edit "width" style for change progress bar ======== -->
                <div class="progress" style="width: 45%"></div>
            </div>
        </div>
    </div>

</div>